<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/williambrock/OpenFrameworks/of_v0073_osx_release/apps/myApps/mySketch/mySketch.xcodeproj</string>
</dict>
</plist>
